
#ppHeader {
   width: 100%;
   margin: 0 auto;
   font-size: 24pt;
   color: DarkBlue;
}

#subSection {
   width: 100%;
   margin-top: 30px;
   margin-bottom: 0px;
   font-size: 18px;
   font-weight: bold;
   color: LightBlue;
}

.blueText {
   width: 100%;
   margin-top: 30px;
   font-size: 14px;
   font-weight: bold;
   color: DarkBlue;
}

.innerText {
   width: 100%;
   margin-top: 5px;
   font-size: 11pt;
}

.innerText ul{
   margin-top: 5px;
}

.innerText ul li{
   margin-top: 3px;
}
